@model IEnumerable<Hotel>

<h1>Summit Slope Retreats</h1>

<h3>All Hotels</h3>

<ul>
@foreach (var hotel in Model)
{
    <li>
        <strong>Name:</strong> @hotel.Name, <strong>Location:</strong> @hotel.Location
    </li>
}
</ul>